.movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.2em;
  background-color: white;
  border: 1px solid gray;
  padding-right: 5px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.movie-card:hover {
  -webkit-box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movie-card img {
  width: 45%;
  height: auto;
  margin-right: 2em;
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
}

.movie-card .movie-detail {
  width: 45%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .movie-detail h2 {
  width: 100%;
  margin: 0.3em 0 0 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}

@media screen and (max-width: 426px) {
  .movie-card .movie-detail h2 {
    font-size: 1.45rem;
  }
}

.movie-card .movie-detail p {
  margin: 0;
  font-size: cramp(0.9rem, 3vw, 2rem);
}

.movie-card .movie-detail button {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 12px;
  padding: 0.8em 0.6em 0.8em 0.6em;
  border-radius: 0.7em;
  border: transparent;
  background-color: #3d3d3d;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.movie-card .movie-detail button:hover {
  background-color: whitesmoke;
  color: #3d3d3d;
  border: 1px solid #3d3d3d;
}

@media screen and (max-width: 380px) {
  .movie-card .movie-detail button {
    padding: 0.4em;
  }
}

.movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.2em;
  background-color: white;
  border: 1px solid gray;
  padding-right: 5px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.movie-card:hover {
  -webkit-box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movie-card img {
  width: 45%;
  height: auto;
  margin-right: 2em;
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
}

.movie-card .movie-detail {
  width: 45%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .movie-detail h2 {
  width: 100%;
  margin: 0.3em 0 0 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}

@media screen and (max-width: 426px) {
  .movie-card .movie-detail h2 {
    font-size: 1.45rem;
  }
}

.movie-card .movie-detail p {
  margin: 0;
  font-size: cramp(0.9rem, 3vw, 2rem);
}

.movie-card .movie-detail button {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 12px;
  padding: 0.8em 0.6em 0.8em 0.6em;
  border-radius: 0.7em;
  border: transparent;
  background-color: #3d3d3d;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.movie-card .movie-detail button:hover {
  background-color: whitesmoke;
  color: #3d3d3d;
  border: 1px solid #3d3d3d;
}

@media screen and (max-width: 380px) {
  .movie-card .movie-detail button {
    padding: 0.4em;
  }
}

.landing-page {
  background-image: url("../img/home-bg.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 910px) {
  .landing-page {
    background-image: url("../img/home-bg-sm.svg");
  }
}

.header-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container img {
  width: 12vw;
}

@media screen and (max-width: 910px) {
  .header-container img {
    width: 160px;
  }
}

@media screen and (max-width: 426px) {
  .header-container img {
    width: 80px;
  }
}

.header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  font-family: "Bebas Neue", cursive;
  font-size: 1.7rem;
}

.header-container ul a {
  text-decoration: none;
  color: #363636;
}

.header-container ul a li {
  margin-left: 2em;
}

@media screen and (max-width: 910px) {
  .header-container ul {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 426px) {
  .header-container ul {
    font-size: 1rem;
  }
}

.welcome-section {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 910px) {
  .welcome-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome-section .title-search {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 910px) {
  .welcome-section .title-search {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome-section .title-search h2 {
  font-size: 4vw;
  font-family: "Bebas Neue", cursive;
  text-align: left;
  margin: 0;
  font-weight: lighter;
}

@media screen and (max-width: 910px) {
  .welcome-section .title-search h2 {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .welcome-section .title-search h2 {
    font-size: 2rem;
    margin: 0;
    width: 300px;
  }
}

.welcome-section svg {
  width: 45%;
  height: auto;
  margin-right: 10%;
}

@media screen and (max-width: 910px) {
  .welcome-section svg {
    width: 300px;
    margin: 0;
    margin-top: 3em;
    width: 50%;
  }
}

@media screen and (max-width: 426px) {
  .welcome-section svg {
    width: 210px;
  }
}

.search-box {
  margin-top: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box .search-area {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.7em 1em 0.7em 1em;
  margin-right: 1.3em;
  border-radius: 2em;
  border: 1px solid gray;
  outline: none;
  text-align: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

@media screen and (max-width: 910px) {
  .search-box .search-area {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 426px) {
  .search-box .search-area {
    font-size: 0.9rem;
  }
}

.search-box input[type=text]:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 17px 0px rgba(0, 0, 0, 0.75);
}

.search-box .search-btn {
  font-family: "Bebas Neue", cursive;
  border-radius: 3em;
  padding: 0.3em 0.7em;
  outline: none;
  border: 1px solid gray;
  font-size: 1.7vw;
  background-color: white;
  color: #4d4d4d;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.search-box .search-btn:hover {
  background-color: #4d4d4d;
  color: white;
}

@media screen and (max-width: 910px) {
  .search-box .search-btn {
    border-radius: 1.3em;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 426px) {
  .search-box .search-btn {
    font-size: 1rem;
  }
}

.result-heading {
  margin-top: 2.6em;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 4vw;
}

@media screen and (max-width: 910px) {
  .result-heading {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 426px) {
  .result-heading {
    font-size: 1.9rem;
  }
}

.result-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .result-container {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 426px) {
  .result-container {
    padding: 0px 20px;
  }
}

.no-watchlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-watchlist svg {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 910px) {
  .no-watchlist svg {
    width: 200px;
  }
}

.no-watchlist p {
  font-family: 'Quicksand', sans-serif;
  font-size: 2vw;
  color: gray;
}

@media screen and (max-width: 910px) {
  .no-watchlist p {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 426px) {
  .no-watchlist p {
    font-size: 1rem;
  }
}

.error {
  text-align: center;
  font-size: 2rem;
  color: #a1a1a1;
  font-family: 'Quicksand', sans-serif;
}

.error svg {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 426px) {
  .error {
    font-size: 0.8rem;
  }
}

footer {
  margin-top: 3em;
  background-color: gainsboro;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  margin-right: 1.3em;
}

footer a {
  color: #474747;
}

*,
::after,
::before {
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b6b6b6;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b6b6b6;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b6b6b6;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b6b6b6;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b6b6b6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b6b6b6;
}

a {
  text-decoration: none;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=App.css.map */