@import "movie";
@import "heading";
@import "search";
@import "result";

*, 
::after,
::before{
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(182, 182, 182);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(182, 182, 182);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(182, 182, 182);
  }

a {
    text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}